        <div class="container" style="background-color:black;">
            <div class="row">
                <p align="right"><img width="50" src="http://site.pelgranepress.com//nas/content/live/pelgranepress/wp-content/uploads/2016/10/Men-in-black.png"></p>
            </div>
        </div>
    </body>
</html>